{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h1>Hello Movies !</h1>
        {% if data.error is defined %}
            <p>Error: {{ data.error }}</p>
        {% else %}
            {% for movie in data.results %}
                <p>{{ movie.titleText.text }}</p>
                {% if movie.primaryImage %}
                    <img src="{{ movie.primaryImage.url }}" alt="{{ movie.titleText.text }}" style="max-width: 15em;">
                {% endif %}
                <p>{{ movie.primaryImage.caption.plainText | default("") }}</p>
            {% endfor %}

            {# Pagination Controls #}
            <div class="pagination">
                <a href="{{ path('home', {'page': currentPage - 1}) }}">Previous</a>
                <a href="{{ path('home', {'page': currentPage + 1}) }}">Next</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
